[submodule "hugograyscale"]
	path = hugograyscale
	url = https://github.com/runningstream/hugograyscale.git
[submodule "themes/hugograyscale"]
	path = themes/hugograyscale
	url = https://github.com/runningstream/hugograyscale.git
[submodule "public"]
	path = public
	url = git@github.com:thesimplekid/thesimplekid.github.io.git
	branch = main
