<div class="slide-container" style="height:{{ (.Get `height`) }}; width:{{ (.Get `width`) }};">
    {{with (.Get `dir`)}}
    {{- $files := readDir (print "/static/" .) }}
    {{$.Scratch.Set "countPic" (len $files)}}
    {{- range $files -}}
    {{- $absoluteUrl := print ($.Get "dir") "/" .Name | absURL }}


    <img class='photo' src={{ $absoluteUrl }} width="1000px">

    {{- end }}

    {{end}}
</div>

<style>
    .slide-container {
        margin: 0px auto;
        overflow: hidden;
        border: 5px solid;
        border-top-color: #110d08;
        border-left-color: #110d08;
        border-bottom-color: #110d08;
        border-right-color: #110d08;
        position: relative;
    }

    .photo {
        position: absolute;
        left: 0px;
        animation: round 16s infinite;
        opacity: 0;
        width: 100%;
    }

    @keyframes round {
        25% {
            opacity: 1;
        }

        40% {
            opacity: 0;
        }
    }

    img:nth-child(1) {
        animation-delay: 8s;
    }

    img:nth-child(2) {
        animation-delay: 4s;
    }

    img:nth-child(3) {
        animation-delay: 0s;
    }
</style>